/* reset styles */
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
body{
  background-color: #e5e5e5;
}
/* section styles */
section {
  background-color: white;
  padding: 20px;
  width: 1000px;
  max-width: 1500px;
  min-height: 600px;

  margin: 40px auto;
  overflow: hidden;

 

}

/* upper - text-content */
.text-content {
  height: calc(2 * 100% / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
gap:10px;
  /* justify-content: space-between; */
  margin-bottom: 20px;
}

/* text content h2 */
.text-content > h2 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.text-content > p {
  width: 60%;
  padding: 5px 10px;
  font-size: 22px;
  text-align: center;
  color: #252525cc;
}

/* button */
.text-content > button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
}

/* image list */
.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  height: calc(3 * 100% / 5);
  width: 100%;
  padding: 5px;
  justify-content: center;
}

/* image-card */
.image-list > div {
  width: 24%;
  overflow: hidden;
}

.image-list img {
  width: 100%;
}
#image7, #image8{
    height: 100%;
    border-radius: 10px;
}

